    html {
      font-family: system-ui, sans-serif;
      font-size: 18px;
	  color: #FCFCFC;
	  background-color: #000000;
    }
	#triviaJSON {
		display: none;
	}
    article {
      display: block;
    }
    header h1 {
      font-family: system-ui, sans-serif;
      font-size: 3rem;
	  color: ;
	  background-color: #000000;
      margin: .5rem 0;
      letter-spacing: -3px;
	  width: 18rem;
	  padding: .2rem .3rem .3rem .3rem;
    }
    header h1 span {
      font-size: 2.3rem;
      color: #FCFCFC;
	  background-color: #CA1CCA;
	  padding: 0 .4rem 0 .3rem;
    }
	header h1.slim {
      font-family: system-ui, sans-serif;
      font-size: 1.7rem;
      color: #CA1CCA;
      margin: .5rem 0;
      letter-spacing: -2px;
	}
	 header h1.slim span {
      font-size: 1.3rem;
      color: #FCFCFC;
    }
    h1 {
      font-size: 1.1em;
    }
	img {
	   max-width: 100%;
	}
    button {
	  border: thin solid #8c8c8c;;
      margin: .5rem;
      font-size: 1.3rem;
      display: inline;
      text-align: left;
	  max-width: 45%;
	}
    button#next {
      display: inline-block;
      margin-top: 1rem;
      border: thick solid #CA1CCA;
      color: #FCFCFC;
      background-color: #CA1CCA;
      font-weight: bold;
    }
    button#skip {
      font-size: 1rem;
      display: none;
    }
    button:focus, button:hover {
      border: thin solid #989898;
      outline: thin solid #FFFACD;
	  box-shadow:0 0 8px 4px #FFFACD;
    }
    button#next:focus, button#next:hover {
      outline: thin solid #FFFACD;
	  box-shadow:0 0 7px 3px  #FFFACD;
    }
	button.c:active{
      outline: thin solid #00BD00;
	  box-shadow:2px 2px 8px 2px #00BD00;
    }
	button.a:active,
	button.b:active,
	button.d:active,
	button.e:active,
	button.f:active
	{
      outline: thin solid #EB0000;
	  box-shadow:2px 2px 6px 1px #EB0000;
    }
    p {
      margin: 0;
    }
	p#intro {
	  font-size: 1rem;
	}
	p#intro span {
	  font-size: .9rem;
	}
    #result {
      font-family: serif;
	  font-size: 1rem;
	  font-weight: bold;
	  float: right;
	  border: thin #FFFFFF solid;
	  padding: .5rem;
	  display: inline;
	  margin-left: 1rem;
    }
	#check p {
      margin-top: -3%;
    }
    section {
      display: block;
    }	
	.c0 {
	  color: #EB0000;
	}
	.c10 {
	  color: #00BD00;
	}
	.c10 img {
	max-width: 20%;
	}
    footer a:link {
      text-decoration: none;
      color: #FCFCFC;
    }
    footer a:visited {
      color: #CA1CCA;
    }
    footer a:focus, footer a:hover {
      border-bottom: 1px solid;
    }
    footer a:active {
      color: #AC4FAC;
      color: #962F96;
    }
    @media only screen and (max-width: 480px) {
      header h1 {
        margin: .7rem 0;
        font-size: 2rem;
        margin: .5rem 0;
        letter-spacing: -2px;
		width: 13rem;
      }
      header h1 span {
        font-size: 1.65rem;
      }
	  #check p {
		margin-top: -10%;
	  }
	  button {
		max-width: 45%;
	  }
    }
    @media only screen and (max-width:350px) {
	  button {
		max-width: 100%;
	  }
	}
